<div class="navbar navbar-inverse">
   <div class="container">
   	  <div class="navbar-header">
   	  	<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
   	  		<span class="icon-bar"></span>
   	  		<span class="icon-bar"></span>
   	  		<span class="icon-bar"></span>
   	  	</button>
   	  	<a class="navbar-brand">MEMU</a> 
   	  	
   	  </div>
   	  
   	  <div class="collapse navbar-collapse">
   	  	<ul class="nav navbar-nav">
   	  		<li class="active">
   	  			<div class="dropdown" style="display:inline-block;">
   	  				<a href="javascript:;" style="padding-top: 15px;display:block;padding-left:15px;" class="btn-link dropdown-toggle" data-toggle="dropdown">
   	  						<span class="glyphicon glyphicon-home"></span>Home</a>
   	  					<ul class="dropdown-menu">
   	  						<li> <a href="#next/module">java</a> </li>
   	  						<li> <a href="#next/module">c</a> </li>
   	  						<li> <a href="#next/module">c++</a> </li>
   	  					</ul>
   	  			</div>
   	  		</li>
   	  		<li class="active"> <a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>Food </a> </li>
   	  		<li class="active"> <a href="#next/module"> <span class="glyphicon glyphicon-headphones"></span>Water </a> </li>
   	  		<li class="active"><!-- dropdown没有此修饰也可以，li中可以有块级元素 -->
  	  				<a href="javascript:;"  class="btn-link dropdown-toggle" data-toggle="dropdown">
  	  						<span class="glyphicon glyphicon-home"></span>Home</a>
  	  					<ul class="dropdown-menu">
  	  						<li> <a href="#next/module">java</a> </li>
  	  						<li> <a href="#next/module">c</a> </li>
  	  						<li> <a href="#next/module">c++</a> </li>
  	  					</ul>
   	  		</li>
   	  	</ul>
   	  </div>
   </div>
</div>
<ul class="nav nav-tabs"> 
<li class="active"> <a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>Git </a> </li>
<li> <a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>Svn </a> </li>
<li> <a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>Shell </a> </li>
</ul>
<ul class="myUl">
<li class="active"><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>aa </a></li>
<li ><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>cc </a></li>
<li ><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>dd </a></li>
<li ><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>ee </a></li>
</ul>
<ol class="myOl">
<li><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>uu </a></li>
<li><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>vv </a></li>
<li><a href="#next/module"> <span class="glyphicon glyphicon-shopping-cart"></span>ww </a></li>
</ol>

<div class="myLayer">

</div>

<div class="panel-group" id="accordition2">
 <div class="panel">
 	<a data-toggle="collapse" data-parent="#accordition2" data-target="#panelBodyx" >click</a>
 	<div id="panelBodyx" class="collapse in">
 	hahaha
 	</div>
 </div>
 <div class="panel">
 	<a data-toggle="collapse" data-parent="#accordition2" data-target="#panelBody1x" >click</a>
	<div id="panelBody1x" class="collapse">
		vication
	</div>
</div>
 <div class="panel">
	<a data-toggle="collapse" data-parent="#accordition2" data-target="#panelBody2x" >click</a>
	<div id="panelBody2x" class="collapse">
		vication
	</div>
 </div>
</div>