<div class="container">
 <div class="row">
    <div class="col-sm-12">
    	<table class="table table-reponsive table-stripped table-hover">
    	 <thead>
    	 	<tr class="info"> <th class="col-sm-6"> ID </th><th class="col-sm-6"> NAME </th> </tr>
    	 </thead>
    	 <tbody>
    	 	<tr> <td>1</td> <td>LISHAOPING</td> </tr>
    	 	<tr> <td>2</td> <td>LIXIAOHAI</td> </tr>
    	 	<tr> <td>3</td> <td>LIDA</td> </tr>
    	 </tbody>
    	 <tfoot>
    	 	<tr class="danger"> <td>###</td><td>###</td> </tr>
    	 </tfoot>
    	</table>
    </div>
 </div>

</div>