<div class="row">
	<div class="col-sm-12">
		<ul class="pagination myPageNation">
			<li><a href="#next/module">&laquo; </a> </li>
			<li><a href="#next/module">1 </a> </li>
			<li class="active"><a href="#next/module">2 </a> </li>
			<li><a href="#next/module">3 </a> </li>
			<li><a href="#next/module">4 </a> </li>
			<li><a href="#next/module">5 </a> </li>
			<li><a href="#next/module">&raquo; </a> </li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="col-sm-12 flexConfig">
		<ul class="pagination">
			<li><a href="#next/module">&laquo; </a> </li>
			<li><a href="#next/module">1 </a> </li>
			<li><a href="#next/module">2 </a> </li>
			<li class="active"><a href="#next/module">3 </a> </li>
			<li><a href="#next/module">4 </a> </li>
			<li><a href="#next/module">5 </a> </li>
			<li><a href="#next/module">&raquo; </a> </li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 flexConfig">
	<ul class="listGroup">
		<li><a href="#next/module">1 </a> </li>
		<li><a href="#next/module">2 </a> </li>
		<li><a href="#next/module">3 </a> </li>
		<li><a href="#next/module">4 </a> </li>
	</ul>
	</div>
</div>
