.interact-con-con{
	overflow: hidden;
	position: absolute;
    left: 45px;
}
.interact-con{
	margin: 30px auto 0;
    width: 1250px;
    padding-right: 30px;
}
.interact-title{
	display: block;
    margin: 0 auto 20px;
    width: 600px;
    height: 40px;
}
.interact-item{
	float: left;
    display: block;
    width: 238px;
    margin-right: 10px;
}
.interact-item img{
	width: 100%;
    transition: opacity .3s ease-out;
}
.clearfix{
clear: both;
zoom: 1;	
}
.area-con{
	    margin: auto;
    padding-top: 10px;
    width: 1230px;
    padding-right: 30px;
    opacity: 1;
    position: absolute;
    float: left;
    top: 930px;
    width: 1250px;
    left: 45px;
}
.title-con{
	display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}
.vline{
	background-color: #000;
    opacity: .1;
    display: inline-block;
    border-bottom: 1px solid;
    width: 403px;
    margin-bottom: 9px;
}
.title-inner-con{
	width: 252px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0 80px;
    line-height: 18px;
    height: 18px;
}
.title-con .title{
	display: inline-block;
    font-size: 18px;
    color: #ff0036;
    overflow: hidden;
    max-width: 252px;
}
.area-item{
	float: left;
    display: block;
    width: 238px;
    height: 130px;
    margin-right: 10px;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}