.div-main-content{
	font-family: "Microsoft YaHei",SimSun,'\5b8b\4f53',sans-serif;
    position: relative;
    z-index: 10000;
    background-color: #f5f5f5;
    background: #fff;
    color: #999;
    width: 100%;
    margin: auto;
    padding: 0;
}
.div-content-catalog{
	white-space: nowrap;
    position: relative;
    padding-top: 0;
    height: 36px;
    background-color: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
}
.div-content-layer{
	background-color: #ff0036;
    height: 36px;
    line-height: 36px;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.div-content-center{
	width: 1230px;
    margin: 0 auto;
    padding-right: 30px;
    line-height: 36px;
}
.div-content-menu{
	margin-left: 215px;
    width: 85%;
    clear: both;
    zoom:1;
}
.div-content-menu a{
	color: white;
	letter-spacing: normal;
    vertical-align: top;
	text-decoration: none;
	height: 36px;
    cursor: pointer;
    float: left;
    padding: 0 15px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    position: relative;
}
.hover-pic{
	display: inline-block;
	
}
.pic-something{
	display: none;
}
.content-supermarket{
	position: relative;
    left: -3px;
}
.div-content-menu a:hover .hover-pic{/* 里面的hover-pic元素*/
	background: url(../../global/img/cat.png) no-repeat;
    background-size: 40px 15px;
    display: block;
    position: absolute;
    width: 40px;
    height: 10px;
    top: 0;
    right: 30%;
    transition: opacity .4s,transform .4s;
    -moz-transform: translate(-20px,-10px);
    -ms-transform: translate(-20px,-10px);
    -o-transform: translate(-20px,-10px);
    -webkit-transform: translate(-20px,-10px);
    transform: translate(0px,-10px);
    opacity: 1;
}
.div-content-menu a:hover .pic-something{
	display: inline-block;
}
.div-content-left-list{
	position: relative;
    height: 500px;
    width: 100%;
    color: #999;
    font-size: 12px;
        margin: 0;
    padding: 0;
}
.div-content-left-container{
	width: 1230px;
    padding-right: 30px;
    position: relative;
    height: 0;
    z-index: 100;
    margin: 0 auto;
    top: -12px;
}
.div-content-left-img{
	height: 130px;
    width: 290px;
    position: absolute;
    z-index: 100000;
    margin-top: -166px;
    margin-left: -45px;
}
.div-content-left-type{
	width: 200px;
    float: left;
    height: 36px;
    color: #fff;
    background-color: #e22127;
    position: absolute;
    z-index: 100;
    margin-top: -36px;
    line-height: 36px;
}
.div-content-left-type div{
	display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    font-weight: 700;
}
.div-content-doodle{
	position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.div-content-doodle a{
	display: block;
    height: 100%;
    width: 100%;
}
a.doodle img{
	width: 290px;
    height: 130px;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}