body {
	margin: 0;
	padding: 0;
}

.main-top {
	position: relative;
	display: block;
	height: 80px
}

.main-top-bg1 {
	background: #1f0009;
	width: 50%;
	position: absolute;
	left: 0;
	height: 100%;
}

.main-top-bg2 {
	background: #1f0009;
	width: 50%;
	position: absolute;
	right: 0;
	height: 100%;
}

.main-top-img {
	position: relative;
	top: 0;
	margin: 0 auto;
	z-index: 10;
}

.main-navi {
	position: relative;
	display: block;
	height: 32px;
	font-family: "Microsoft YaHei", tahoma, arial, 'Hiragino Sans GB',
		'\5b8b\4f53', sans-serif;
	font-size: 11px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}
.main-navi-module{
	position: relative;
	width: 1230px;
	left: -15px;
	margin: auto;
}
.main-navi p {
	top: 7px;
	/*left: 100px;*/
	position: relative;
	margin: 0;
	display: inline;
}

.main-navi a, .main-navi em {
	color: #999;
	margin: 0 10px;
}

.main-navi a:hover {
	color: #FF0036;
	cursor: pointer;
}

.main-navi svg {
	width: 1em;
	height: 1em;
	vertical-align: middle;
	fill: currentColor;
	overflow: hidden;
}
.main-navi ul.main{
	line-height: 32px;
	position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
}
.main-navi li{
	list-style: none;
	float: left;
	padding: 0 10px;
}
.navi-div-list:hover, .navi-div-coll-list:hover, .navi-div-seller:hover,
.navi-div-navitor:hover{
	background-color: white;
	border-bottom: 1px solid white;
}
.navi-down-list{
	z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    position: absolute;
    left: 9px;
    background: white;
    width: 74px;
    padding: 8px 10px;
    top: 33px;
    display: none;
}
.navi-div-list:hover .navi-down-list{
	display: block;
}
.navi-div-list:hover svg.icon_2, .navi-div-coll-list:hover svg.icon_4, 
.navi-div-seller:hover svg.icon_6, .navi-div-navitor:hover svg.icon_8{
	display: inline !important;
}
.navi-div-list:hover svg.icon_1, .navi-div-coll-list:hover svg.icon_3 ,
.navi-div-seller:hover svg.icon_5, .navi-div-navitor:hover svg.icon_7{
	display: none;
}
.navi-down-list a, .navi-down-coll-list a{
	display: block;
	line-height: 20px;
	margin: 0 !important;
}
span.buy_num{
	color: #666;
    padding: 0 2px;
    font-weight: 700;
    font-family: Arial;
    position: relative;
    left: -1px;
}

.navi-div-coll-list:hover .navi-down-coll-list, .navi-div-phone:hover .navi-qrcode,
.navi-div-seller:hover .navi-div-dropdown-seller, .navi-div-navitor:hover .navi-div-menu{
	display: block;
}
.navi-down-coll-list{
	z-index: 93110;
    border: solid #eee;
    border-width: 0 1px 1px;
    position: absolute;
    left: 358px;
    background: white;
    width: 74px;
    padding: 8px 10px;
    top: 33px;
    display: none;
}
.navi-qrcode{
	position: absolute;
    width: 175px;
    height: 227px;
    background: #fff;
    left: 400px;
    top: 26px;
    box-shadow: 0 0 5px #aaa;
    display: none;
}
.navi-qrcode-img{
	width: 175px;
    height: 175px;
    margin: 5px 0 0px;
    background: url(../../global/img/qr.png) 0 0 no-repeat;
}
.navi-qrcode-bot{
	background: url(../../global/img/qr-b.png) center bottom no-repeat;
    text-indent: -9999px;
    overflow: hidden;
    margin: 0 15px;
    line-height: 35px;
    height: 31px;
}
.navi-div-dropdown-seller{
    overflow: hidden;
    right: 0;
    left: auto;
    display: none;
}
.navi-div-dropdown-seller ul{
	margin-top: -5px;
    overflow: hidden;
    width: 142px;
    position: absolute;
    right: 128px;
    top: 39px;
    border: solid #eee;
    border-width: 0 1px 1px;
    z-index: 93110;
    padding-left: 5px;
    padding-right: 10px;
}
.navi-div-dropdown-seller li{
	float: none;
    padding: 5px 0;
    height: auto;
    display: block;
    line-height: 1.4;
    border-bottom: 1px dotted #827777;
    margin-right: -20px;
}
.navi-div-dropdown-seller h3{
	color: #666;
    font-weight: 700;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0;
}
.navi-div-dropdown-seller li a{
	display: inline;
    width: 48px;
    margin-right: 20px;
    line-height: 22px;
}
.navi-div-dropdown-seller li div{
	display: inline-block;
}
.navi-div-menu{
	position: absolute;
	background: #fff;
    z-index: 93110;
    border: solid #eee;
    display: none;
    width: 1220px;
    left: -400px;
}
.navi-menu-hot, .navi-menu-market, .navi-menu-brand, .navi-menu-help{
	padding-left: 30px;
    overflow: hidden;
    height: 200px;
    width: 310px;
    margin-right: 0px;
    padding-right: 0px;
    float: left;
}
.navi-menu-help{
	width: 150px !important;
}
.navi-menu-hot h2, .navi-menu-market h2, .navi-menu-brand h2, .navi-menu-help h2{
	font-size: 16px;
    margin: 1px 0px;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.navi-menu-hot ul, .navi-menu-market ul, .navi-menu-brand ul, .navi-menu-help ul{
	margin-right: -20px;
    overflow: hidden;
    padding: 0;
    left: -10px;
    position: relative;
}
.navi-menu-hot ul li, .navi-menu-market ul li, .navi-menu-brand ul li, .navi-menu-help ul li{
	width: 95px;
    float: left;
    padding: 0px;
    overflow: hidden;
}

/**
元素头和元素尾加方括号
选择器对应的全部元素的前面和后面都加content
*/
a:hover::before, a:hover::after { position: absolute; } 
a:hover::before { content: "\5B"; left: -20px; }  
a:hover::after { content: "\5D"; right:  -20px; }  
