.wonderful-con .wonderful-line {
    height: 333px;
    list-style: none;
}
.wonderful-con .wonderful-item {
    float: left;
    width: 235px;
    margin-right: 12px;
    margin-bottom: 7px;
    list-style: none;
}
.wonderful-con .card-item {
    display: block;
    border: 1px solid #fff;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    margin-right: 7px;
    margin-bottom: 7px;
    width: 100%;
    height: 315px;
}
.wonderful-con .card-item:hover{
	border: 1px solid red;
}
.wonderful-con .card-item .item-pic {
    display: block;
    width: 100%;
    height: 230px;
    overflow: hidden;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}
.wonderful-con .card-item .item-pic img {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    top: 0\9;
    left: 0\9;
    top: 50%\9\0;
    left: 50%\9\0;
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    vertical-align: middle;
}
.wonderful-con .card-item .item-info {
    display: block;
    padding: 14px 12px 8px;
    text-align: left;
}
.wonderful-con .card-item .item-desc {
    display: block;
    height: 34px;
    line-height: 14px;
    overflow: hidden;
}
.wonderful-con .card-item .item-name {
    font-size: 13px;
    line-height: 18px;
    color: #666;
}
em, i {
    font-style: normal;
}
.wonderful-con .card-item .item-detail {
    position: relative;
    display: block;
    height: 33px;
    line-height: 22px;
    margin-top: 2px;
}
.wonderful-con .card-item .item-price {
    line-height: 32px;
    color: #ff0036;
}
.wonderful-con .card-item .item-price .mui-price-rmb {
    font-size: 14px;
}
.wonderful-con .card-item .item-price .mui-price-integer {
    font-size: 16px;
}
.wonderful-con .card-item .item-price .mui-price-decimal {
    font-size: 14px;
}
.wonderful-con{
	position: absolute;
    top: 3040px;
    left: 5px;
    width: 1344px;
    background: rgba(128, 128, 128, 0.12);
    height: 6800px;
}
.wonderful-con .wonderful-title {
    color: #666;
    text-align: center;
    height: 43px;
    font-weight: 100;
}
.wonderful-con .wonderful-title>.text-ctn {
    position: relative;
    font-size: 18px;
    line-height: 20px;
    font-family: 'Microsoft YaHei',SimSun,sans-serif,'\65b9\6b63\5170\4ead\9ed1';
}
.wonderful-con .wonderful-title>.text-ctn .fp-iconfont {
    position: relative;
    top: 1px;
    margin-right: 4px;
    font-size: 20px;
    color: #ff0036;
}
.wonderful-con .tm-end {
    background: url(//img.alicdn.com/tps/TB1wQDAPXXXXXXgaFXXXXXXXXXX-62-35.png) no-repeat;
    position: relative;
    display: block;
    content: '\20';
    text-align: center;
    width: 80px;
    height: 45px;
    margin: 0 auto 10px;
    background-size: cover;
    z-index: 9;
}
.w-title-left{
	position: relative;
    border-bottom: 1px solid grey;
    height: 10px;
    width: 40px;
    /* background: red; */
    /* z-index: 99999; */
    top: 20px;
    left: 570px;
}
.w-title-right{
	position: relative;
    border-bottom: 1px solid grey;
    height: 10px;
    width: 40px;
    /* background: red; */
    /* z-index: 99999; */
    top: -23px;
    left: 732px;
}
#tmall-desc {
	background-image:
		url('//img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png');
	background-repeat: no-repeat;
	background-size: 68px 25px;
}
div#footer {
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    display: block;
    position: absolute;
    top: 10080px;
    height: 608px;
}
#footer {
    min-height: 558px;
    border-top: 1px solid #D1D7DC;
    clear: both;
    margin: 0;
    text-align: center;
    background: #fff;
    position: relative;
    font-family: "Microsoft YaHei",tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
}
#tmall-ensure {
    width: 1190px;
    height: 100px;
    background: url(//img.alicdn.com/tfs/TB14dANRXXXXXbdXXXXXXXXXXXX-1190-100.jpg) no-repeat;
    margin: 25px auto;
    padding: 0;
}
#tmall-ensure a {
    float: left;
    display: block;
    width: 297px;
    height: 100px;
    text-indent: -1000em;
}
#tmall-desc {
    background-image: url(//img.alicdn.com/tfs/TB1dl28RXXXXXbzaFXXXXXXXXXX-136-50.png);
    background-repeat: no-repeat;
    background-size: 68px 25px;
    width: 1190px;
    padding-top: 22px;
    height: 190px;
    margin: auto;
    border-top: 1px solid #ededed;
    padding-bottom: 10px;
    background: url(data:image/jpeg;base64,iVBORw0KGgoAAAANSUhEUgAAAEQAAAAZCAMAAAC/3XipAAAABGdB¡­VYdGRhdGU6bW9kaWZ5ADIwMTctMDItMjBUMDk6NDY6MTQrMDg6MDAJdkpKAAAAAElFTkSuQmCC) 45px bottom no-repeat;
}
#tmall-desc dl {
    float: left;
    width: 186px;
    padding-left: 52px;
}
#tmall-desc dl dt {
    color: #646464;
    font-size: 16px;
    font-weight: 700;
    height: 30px;
    line-height: 30px;
    text-align: left;
}
#tmall-desc dl dd {
    text-align: left;
    margin-left: 0px;
}
#tmall-desc dl a {
    width: 100px;
    overflow: hidden;
    text-align: left;
    height: 20px;
    line-height: 20px;
    color: #8b8b8b;
    display: block;
    text-decoration: none;
    font-size: 10px;
}
#tmall-copyright {
    border-top: 2px solid #FF0036;
    background: #000;
    text-align: left;
    min-height: 177px;
    font-size: 10px;
}
#tmall-copyright .footer-copyright, #tmall-copyright .footer-otherlink, #tmall-copyright .footer-tmallinfo {
    width: 1190px;
    margin: 0 auto;
    color: #fff;
    line-height: 25px;
    padding-top: 10px;
}
#footer p a {
    margin-right: 3px;
    color: #fff;
}
#footer .footer-fp-rule {
    display: inline!important;
}
.footer-otherlink{
    width: 1190px;
    margin: 0 auto;
}
#tmall-copyright .footer-copyright a {
    color: #a4a4a4;
    margin-right: 65px;
}
#tmall-copyright .footer-copyright b {
    display: block;
    color: #686868;
    font-weight: 400;
}
#tmall-copyright .footer-copyright .footer-fp-img {
    display: block!important;
}
 #server-num {
    color: #000;
    font-size: 11px;
    background: #000;
    position: relative;
    top: -12px;
}
.as-shelter.show {
    top: 0;
}
.as-shelter {
    background-color: #FF0036;
    opacity: .95;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 50px;
    -webkit-transition: top .3s ease-out;
    -moz-transition: top .3s ease-out;
    -ms-transition: top .3s ease-out;
    -o-transition: top .3s ease-out;
    transition: top .3s ease-out;
}
.as-total-container {
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10000;
    height: 50px;
    top: 0px;
}
.attached-search-container {
    top: 0;
    width: 1230px;
    padding-right: 30px;
    background-color: transparent;
    position: relative;
    height: 50px;
    margin: 0 auto;
    border: none;
    overflow: hidden;
}
.attached-search-container .fp-iconfont-new {
    overflow: hidden;
    font-size: 23px;
    position: relative;
    top: 5px;
    color: white;
}
.attached-search-container .fp-iconfont-new .logo-en {
    vertical-align: middle;
}
.attached-search-container .fp-iconfont-new .logo-zh {
    padding-left: 5px;
    vertical-align: middle;
}
.attached-search-container #mallSearch {
    float: none!important;
    padding-top: 0px;
    width: 740px!important;
    position: relative;
    z-index: 10;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    top: -20px;
}
.attached-search-container .mallSearch-form {
    border: none!important;
}
fieldset {
    border: 0;
    position: relative;
}
legend{
	display: none;
}
.attached-search-container .mallSearch-input {
    height: 30px;
}
.mallSearch-input {
    background: #fff;
}
#mallSearch .s-combobox {
    height: 30px;
}
.attached-search-container .s-combobox {
    width: 650px;
}
.s-combobox {
    float: left;
    height: 34px;
    font-size: 12px;
}
.s-combobox .s-combobox-input-wrap {
    position: relative;
    height: 30px;
    vertical-align: middle;
}
.attached-search-container #mallSearch #mq.s-combobox-input {
    width: 640px!important;
    background: 0 0;
    outline: transparent dotted 0;
    opacity: 1;
}
#mallSearch #mq {
    color: #000;
    margin: 0;
    z-index: 2;
    width: 289px;
    height: 20px;
    line-height: 20px;
    padding: 5px 3px 5px 5px;
    outline: 0;
    border: none;
    font-weight: 900;
    background: url(data:image/gif;base64,R0lGODlhAQADAJEAAObm5t3d3ff39wAAACH5BAAAAAAALAAAAAABAAMAAAICDFQAOw==) repeat-x;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
#mallSearch label, #tmallSearch label {
    max-width: 90%;
    overflow: hidden;
    white-space: nowrap;
}
#mallSearch label {
    color: #666;
    font-size: 12px;
    line-height: 30px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 0;
    z-index: 1;
}
.attached-search-container #mallSearch button {
    right: 4px;
    height: 32px;
}
#mallSearch button, #tmallSearch button {
    position: absolute;
    z-index: 1;
}
#mallSearch button {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    border: 0;
    font-size: 16px;
    letter-spacing: 4px;
    cursor: pointer;
    color: #fff;
    background-color: #FF0036;
    height: 30px;
    overflow: hidden;
    font-family: '\5FAE\8F6F\96C5\9ED1',arial,"\5b8b\4f53";
}
.lastButton{
	width: 640px;
    height: 30px;
    border: 0;
    position: relative;
    top: -1px!important;
    padding-left: 10px;
}