<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<!--   
    namespace：必须与对应的接口全类名一致  
    id:必须与对应接口的某个对应的方法名一致  
      
 -->  
<mapper namespace="com.yunhai.dao.UserDao">  

 <select id="getAllUser" resultType="com.yunhai.model.UserEntity">
 	SELECT 
 		NAME AS name,
 		ID AS id,
 		AGE AS age,
 		DEGREE AS degree,
 		HOME AS home
 	FROM
 		USER
 </select>
</mapper>