<!DOCTYPE html>
<html>
<head>
  <script src="../global/jquery/jquery-3.1.1.min.js" type="text/javascript"></script>
  <script  src="../global/angularjs2/angularjs2.min.js" type="text/javascript"> </script>
  <script  src="../global/bootstrap/bootstrap.min.js" type="text/javascript"> </script>
  <script  src="../view/js/main.js" type="text/javascript"> </script>
  <link rel="stylesheet" type="text/css" href="../global/bootstrap/bootstrap.min.css" />
</head>
<body>
<div ng-app="default" ng-controller="defaultController">
Hello {{'World'}}!</div>
<a href="../logout" class="btn btn-danger">LOGOUT</a>
<div id="main" ng-app="main" ng-controller="oneController">
name:<input type="text" ng-model="input1" /><br/>
year:<input type="text" ng-model="input2" /><br/>
{{input1 + "" +  input2}}
</div>
<div id="two" ng-app="two">
 <div ng-controller="con1"> name:<input ng-model="name | uppercase" /> </div>
 <div ng-controller="con2"> 
 	year:<input ng-model="age">
 	<ul>
 		<li ng-repeat="ele in arr | orderBy: 'a'">{{ele.a + "--" + ele.b + "---" + ele.c + " --" + ele.index}} </li>
 	</ul>
 	<ul>
 		<li ng-repeat="ele in arr2">{{ele.name + "  " + ele.id}} </li>
 	</ul>
 	<!-- select  -->
 	<select ng-init="option=options[0]" 
 			ng-model="option" 
 			ng-options="op.siteName for op in options"
 			ng-change="getValue(option.url)"></select>
 </div>
 
</div>
<!-- main moduleģʽ -->
<div id="rootModule" ng-app="rootModule">
	
</div>
</body>
</html>
