<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="../global/jquery/jquery-3.1.1.min.js"
	type="text/javascript"></script>
<script src="../global/angularjs2/angularjs2.min.js"
	type="text/javascript"></script>
<script src="../global/angularjs2/angularjs-router.min.js"
	type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="../../local/index/main.css">
<title>电子商务网站</title>
</head>
<body>
	<div class="main-top">
		<div class="main-top-bg1"></div>
		<div class="main-top-bg2"></div>
		<img class="main-top-img" src="../../global/img/a.jpg" width="990"
			height="80">
	</div>

	<div class="main-navi">
		<div class="main-navi-module">
			<div>
				<p>
					<em>喵，欢迎来到天猫</em> <a>请登录</a> <a>免费注册</a>
				</p>
				<ul>
					<li>
						<div class="navi-div-list">
							<a>我的淘宝
							 <svg class="icon" viewBox="0 0 1024 1024"
										version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="650">
									<path d="M327.68 488.448l184.32 184.32 184.32-184.32h-368.64z"
												p-id="651">
									</path>
									</svg> <svg class="icon" viewBox="0 0 1024 1024" version="1.1"
											xmlns="http://www.w3.org/2000/svg">
									<path d="M512 488.448l-184.32 184.32h368.64l-184.32 -184.32z"
													p-id="651">
									</path>
							  </svg>
							</a>
							<div class="navi-down-list">
								<div>
									<a>已买到的宝贝</a>
									<a>已卖出的宝贝</a>
								</div>
							</div>
						</div>
					</li>

					<li><a>我关注的品牌</a></li>
					<li><a>购物车</a></li>
					<li>
						<div>
							<a>收藏夹</a>
						</div>
					</li>
					<li>
						<div>
							<a>手机版</a>
						</div>
					</li>
					<li>
						<div>
							<a>淘宝网</a>
						</div>
					</li>
					<li>
						<div>
							<a>商家支持</a>
						</div>
					</li>
					<li>
						<div>
							<a>网站导航</a>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>
